

<form (ngSubmit)="editPersonne()" [formGroup]="personneForm">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">first name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" formControlName="firstName" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">last name</label>
        <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">email</label>
        <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
      </form>